<%- include("code/header")%>
<link rel="stylesheet" href="/stylesheets/congrats.css">
<div class="congrats">
    <!-- <img src="https://www.lami.co.in/images/order.gif" alt=""> -->
    <img src="/images/conform order.gif" alt="">
    <h2>Email Sent! Check your inbox , <br/>check spam in case not found in inbox.</h2>
    <h1><a href="/">continue shopping</a></h1>
</div>


<%- include("code/footer")%>
