<%- include("code/header")%>
<link rel="stylesheet" href="/stylesheets/congrats.css">
<div class="congrats">
    <img src="https://www.lami.co.in/images/order.gif" alt="">

    <h1><a href="/">continue shopping</a></h1>
</div>


<%- include("code/footer")%>
