<%- include("code/header")%>
<link rel="stylesheet" href="/stylesheets/resetpassword.css">

<div class="filler"></div>
<div class="topnav">
    <h2><a href="/">meesho</a></h2>
    <i class="ri-search-line"></i>
    <input placeholder="Try Saree,Kurti or Serch by Product Code " type="text" name="" id="">
    <div class="app">
        <i class="ri-smartphone-line"></i>
        <h3>Download App</h3>
        <div class="DownloadApp">
            <h4>Download From</h4>
            <img src="https://images.meesho.com/images/pow/playstore-icon-big.png" alt="">
            <img src="https://images.meesho.com/images/pow/appstore-icon-big.png" alt="">
        </div>
    </div>
    <hr>
    <h3><a href="/supplirpage">Become a Supplire</a></h3>
    <hr>
    <h3>Newsroom</h3>
    <hr>
    <div class="profile">
        <i class="ri-user-line"></i>
        <h3>Profile</h3>
        <div class="profile-login">
            <h2>Hello User</h2>
            <h6>To access your Meesho account</h6>
            <a class="signin" href="/signin">Sign in</a>
            <hr>
            <a class="order" href="/signin"><i class="ri-shopping-bag-line"></i> <span>My Orders</span></a>
        </div>
    </div>
    <div class="cart">
        <i class="ri-shopping-cart-2-line"></i>
        <h3>Cart</h3>
    </div>
</div>

<div class="signin-box">
    <div class="form-area">
        <img src="https://images.meesho.com/images/marketing/1661417516766.webp" alt="">
        <h2>Create new password for </h2>
        <form action="/resetpassword/<%= user.email%>" method="post">
            <input class="password1" type="password" name="newpassword" placeholder="New password" id="">
            <div class="eye1">
                <i class="ri-eye-off-line"></i>
            </div>
            <input class="password2" type="password" name="cnfpassword" placeholder="Conform password" id="">
            <div class="eye2">
                <i class="ri-eye-off-line"></i>
            </div>
            <br>
            <button>Conform</button>
            <h4>Dont have account <a href="/signup">Sign Up</a></h4>
        </form>
        <p><span>By continuing, you agree to Meesho’s</span> <br> Terms & Conditions  
            and  
            Privacy Policy</p>
    </div>
</div>

<script src="/javascripts/nav.js"></script>

<script>

var eye1 = document.querySelector(".eye1")
var password1 = document.querySelector(".password1")

eye1.addEventListener("click" , function(){
    if(password1.type == "password"){
        password1.type="input"
        eye1.innerHTML=`<i class="ri-eye-fill"></i>`
    }else{
        password1.type="password"
        eye1.innerHTML=`<i class="ri-eye-off-fill"></i>`
    }
})

var eye2 = document.querySelector(".eye2")
var password2 = document.querySelector(".password2")

eye2.addEventListener("click" , function(){
    if(password2.type == "password"){
        password2.type="input"
        eye2.innerHTML=`<i class="ri-eye-fill"></i>`
    }else{
        password2.type="password"
        eye2.innerHTML=`<i class="ri-eye-off-fill"></i>`
    }
})

</script>

<%- include("code/footer")%>