<%- include("code/header")%>
<link rel="stylesheet" href="/stylesheets/supplirpage.css">

<nav class="supp-nav">
    <a href="/"><img src="https://supplier.meesho.com/images/logo.svg" alt=""></a>
    <ul>
        <li><a href="/supplirpage">Sell Online</a></li>
        <li><a href="/supplirpage">How it works</a></li>
        <li><a href="/supplirpage">Pricing & Commission</a></li>
        <li><a href="/supplirpage">Shipping & Returns</a></li>
        <li><a href="/supplirpage">Grow Business</a></li>
        <li><a href="/supplirpage">Don’t have GST?</a></li>
    </ul>
    <a class="supp-login" href="/supplirlogin">Login</a>
    <a class="startselling" href="/startselling">Start Selling</a>
</nav>
<div class="supp-page1">
    <div class="supp-page1-left">
        <h1>Sell online to 14 Cr+ customers at <br> <span>0% Commission</span></h1>
        <p>Become a Meesho seller and grow your business across India
            <br><br>
            <a class="supp-new" href="">New!</a> Don't have a GSTIN or have a Composition GSTIN?<br>
            You can still sell on Meesho. Click here to know more.
        </p>
        <form action="" method="post">
            <span>+91</span><input type="number"  name="mob" placeholder="Enter Your Mobile Number" id="">
            <button>Star Selling</button>
        </form>
    </div>
    <div class="supp-page1-right">
        <img src="https://supplier.meesho.com/images/Desktop-Pic.png" alt="">

    </div>
</div>
<div class="supp-page2">
    <div class="supp-page2-box1">
        <h1>11 Lakh+</h1>
        <h2>Trust Meesho to sell online</h2>
    </div>
    <div class="supp-page2-box2">
        <h1>14 Crore+</h1>
        <h2>Customers buying across India</h2>
    </div>
    <div class="supp-page2-box3">
        <h1>19000+</h1>
        <h2>Pincode Supported for delivery</h2>
    </div>
    <div class="supp-page2-box4">
        <h1>700+</h1>
        <h2>Categories to sell online</h2>
    </div>
</div>
<%- include("code/footer")%>