<%- include("code/header")%>
<link rel="stylesheet" href="/stylesheets/wrongidpassword.css">

<div class="wrongidpassword">
    <img src="/images/34850525-removebg-preview.png" alt="">
    <h1><span>incorrect</span> <br> id or password</h1>
    <a href="/supplirlogin">Try Again</a>
</div>


<%- include("code/footer")%>
