.footer{
    height: 50vh;
    width: 100%;
    padding: 0.5vmax;
}
.footer-box{
    height: 100%;
    width: 100%;
    border-radius: 0.5vmax;
    border: 0.1vmax solid rgba(40, 39, 39, 0.483);
    padding: 1vmax;
    display: flex;
    /* gap: 1vmax;     */
}
.box{
    /* border: 0.1vmax solid black; */
    height: 100%;
    width: 16.2vw;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: start;
}
.box1{
    width: 33vw;
}
.box1 >h1{
    font-size: 2.5vmax;
    font-weight: 400;
    font-family: sans-serif;
}
.box1 >h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    /* background-color: red; */
    width: 80%;
    font-size: 1.4vmax;
    color: rgb(45, 43, 43);
    margin-top: 3vh;
}
.downloadapp{
    height: 10vh;
    width: 100%;
    display: flex;
    gap: 1.5vmax;
    margin-top: 3vh;
}
.downloadapp >img{
    width: 15vw;
}
.box3 ul ,.box2 ul{
    display: flex;
    gap: 1.7vmax;
    flex-direction: column;
    list-style: none;
}
.box3 li ,.box2 li{
    color: rgb(65, 61, 61);
    font-weight: 700;
    font-family: sans-serif;
    font-size: 1.3vmax;
    /* background-color: red; */
}
.box4 >h2{
    font-family: sans-serif;
    color: rgb(35, 34, 34);
    margin-bottom: 1vmax;
}
.socal{
    height: 7vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.box5 >h3{
    font-family: sans-serif;
    margin-bottom: 1vmax;
}
.box5 >p{
    width: 85%;
    line-height: 3vh;
    /* background-color: red; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vmax;
}