*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.wrongidpassword{
    height: 100vh;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vmax;
}
.wrongidpassword >img{
    height: 15vmax;
    position: absolute;
    top: 2%;
    right: 33%;
}
.wrongidpassword >h1{
    text-transform: uppercase;
    font-family: cursive;
    font-weight: 900;
    font-size: 3vmax;
    transition: all linear 0.5s;
    text-align: center;
}

.wrongidpassword >a{
    text-decoration: none;
    /* background-color: red; */
    font-size: 1.7vmax;
    border-radius: 0.8vmax;
    border: 0.1vmax solid transparent;
    background-color: blue;
    color: white;
    font-weight: 700;
    padding: 1vmax 4vmax;
    font-family: sans-serif;
    transition: all linear 0.2s;
}
.wrongidpassword >a:hover{
    border: 0.1vmax solid blue;
    color: blue;
    background-color: transparent;
    box-shadow: 0 0 1vmax rgba(0, 0, 255, 0.661);
}
.wrongidpassword >a:active{
    scale: 0.8;
}