<link rel="stylesheet" href="/stylesheets/nav.css">

<div class="filler"></div>


<div class="nav">

    <% if(!admin){ %>
        <div class="topnav">
            <h2><a href="/">meesho</a></h2>
            <i class="ri-search-line"></i>
            <input placeholder="Try Saree,Kurti or Serch by Product Code " type="text" name="" id="">
            <div class="app">
                <i class="ri-smartphone-line"></i>
                <h3>Download App</h3>
                <div class="DownloadApp">
                    <h4>Download From</h4>
                    <img src="https://images.meesho.com/images/pow/playstore-icon-big.png" alt="">
                    <img src="https://images.meesho.com/images/pow/appstore-icon-big.png" alt="">
                </div>
            </div>
            <hr>
            <h3><a href="/supplirpage">Become a Supplire</a></h3>
            <hr>
            <h3>Newsroom</h3>
            <hr>
            <div class="profile">
                <i class="ri-user-line"></i>
                <h3>Profile</h3>
                <div class="profile-login">
                    <h2>Hello User</h2>
                    <h6>To access your Meesho account</h6>
                    <a class="signin" href="/signin">Sign in</a>
                    <hr>
                    <a class="order" href="/signup"><i class="ri-shopping-bag-line"></i> <span>My Orders</span></a>
                </div>
            </div>
            <div class="cart">
                <i class="ri-shopping-cart-2-line"></i>
                <h3>Cart</h3>
            </div>
        </div>
    
    <% }else{ %>
        <div class="topnav">
            <h2><a href="/">meesho</a></h2>
            <i class="ri-search-line"></i>
            <input placeholder="Try Saree,Kurti or Serch by Product Code " type="text" name="" id="">
            <div class="app">
                <i class="ri-smartphone-line"></i>
                <h3>Download App</h3>
                <div class="DownloadApp">
                    <h4>Download From</h4>
                    <img src="https://images.meesho.com/images/pow/playstore-icon-big.png" alt="">
                    <img src="https://images.meesho.com/images/pow/appstore-icon-big.png" alt="">
                </div>
            </div>
            <hr>
            <h3><a href="/supplirpage">Become a Supplire</a></h3>
            <hr>
            <h3>Newsroom</h3>
            <hr>
            <div class="profile">
                <i class="ri-user-line"></i>
                <h3>Profile</h3>
                <div class="profile-login">
                    <h2>Hello <%= admin.username%></h2>
                    <h6>+91 <%= admin.mobile%> <span><a href="/accountsetting/<%= admin._id%>">Setting</a></span></h6>
                    <a class="signout" href="/signout">Sign out</a>
                    <hr>
                    <a class="order" href="/signup"><i class="ri-shopping-bag-line"></i> <span>My Orders</span></a>
                </div>
            </div>
            <div class="cart">
                <i class="ri-shopping-cart-2-line"></i>
                <h3>Cart</h3>
            </div>
        </div>
    
    <% } %>


    <!-- <div class="topnav">
        <h2><a href="/">meesho</a></h2>
        <i class="ri-search-line"></i>
        <input placeholder="Try Saree,Kurti or Serch by Product Code " type="text" name="" id="">
        <div class="app">
            <i class="ri-smartphone-line"></i>
            <h3>Download App</h3>
            <div class="DownloadApp">
                <h4>Download From</h4>
                <img src="https://images.meesho.com/images/pow/playstore-icon-big.png" alt="">
                <img src="https://images.meesho.com/images/pow/appstore-icon-big.png" alt="">
            </div>
        </div>
        <hr>
        <h3><a href="/supplirpage">Become a Supplire</a></h3>
        <hr>
        <h3>Newsroom</h3>
        <hr>
        <div class="profile">
            <i class="ri-user-line"></i>
            <h3>Profile</h3>
            <div class="profile-login">
                <h2>Hello User</h2>
                <h6>To access your Meesho account</h6>
                <a class="signup" href="/signin">Sign in</a>
                <hr>
                <a class="order" href="/signup"><i class="ri-shopping-bag-line"></i> <span>My Orders</span></a>
            </div>
        </div>
        <div class="cart">
            <i class="ri-shopping-cart-2-line"></i>
            <h3>Cart</h3>
        </div>
    </div> -->




    <div class="bottom-nav">
        <div class="Women-Ethnic">
            <h3>Women Ethnic</h3>
        </div>

        <div class="Women-Ethnic-details">
            <ul>
                <li class="nav-head">All Women Ethnic</li>
                <li><a href="">View All</a></li>
            </ul>
            <ul>
                <li class="nav-head">Sarees</li>
                <li><a href="/WomenEthnic/AllSarees">All Sarees</a></li>
                <li><a href="/WomenEthnic/SilkSarees">Silk Sarees</a></li>
                <li><a href="/WomenEthnic/CottonSilkSarees">Cotton Silk Sarees</a></li>
                <li><a href="/WomenEthnic/CottonSarees">Cotton Sarees</a></li>
                <li><a href="/WomenEthnic/GeorgetteSarees">Georgette Sarees</a></li>
                <li><a href="/WomenEthnic/ChiffonSarees">Chiffon Sarees</a></li>
                <li><a href="/WomenEthnic/SatinSarees">Satin Sarees</a></li>
                <li><a href="/WomenEthnic/EmbroideredSarees">Embroidered Sarees</a></li>
            </ul>
            <ul>
                <li class="nav-head">Kurtis</li>
                <li><a href="/WomenEthnic/AllKurtis">All Kurtis</a></li>
                <li><a href="/WomenEthnic/AnarkaliKurtis">Anarkali Kurtis</a></li>
                <li><a href="/WomenEthnic/RayonKurtis">Rayon Kurtis</a></li>
                <li><a href="/WomenEthnic/CottonKurtis">Cotton Kurtis</a></li>
                <li><a href="/WomenEthnic/EmbroideredKurtis">Embroidered Kurtis</a></li>
            </ul>
            <ul>
                <li class="nav-head">Kurta Sets</li>
                <li><a href="/WomenEthnic/AllKurtaSets">All Kurta Sets</a></li>
            </ul>
            <ul>
                <li class="nav-head">Suits & Dress Material</li>
                <li><a href="/WomenEthnic/AllSuitsDressMaterial">All Suits & Dress Material</a></li>
                <li><a href="/WomenEthnic/CottonSuits">Cotton Suits</a></li>
                <li><a href="/WomenEthnic/EmbroideredSuits">Embroidered Suits</a></li>
                <li><a href="/WomenEthnic/ChanderiSuits">Chanderi Suits</a></li>
            </ul>
            <ul>
                <li class="nav-head">Other Ethnic</li>
                <li><a href="/WomenEthnic/Blouses">Blouses</a></li>
                <li><a href="/WomenEthnic/Dupattas">Dupattas</a></li>
                <li><a href="/WomenEthnic/Lehanga">Lehanga</a></li>
                <li><a href="/WomenEthnic/Gown">Gown</a></li>
                <li><a href="/WomenEthnic/EthnicBottomwear">Ethnic Bottomwear</a></li>
            </ul>
        </div>
        
        <div class="Women-Western">
            <h3>Women Western</h3>
        </div>

        <div class="Women-Western-details">
            <ul>
                <li class="nav-head">Topwere</li>
                <li><a href="/WomenWestern/Tops">Tops</a></li>
                <li><a href="/WomenWestern/Dresses">Dresses</a></li>
                <li><a href="/WomenWestern/Sweaters">Sweaters</a></li>
                <li><a href="/WomenWestern/Jumpsuits">Jumpsuits</a></li>
            </ul>
            <ul>
                <li class="nav-head">Bottomwear</li>
                <li><a href="/WomenWestern/Jeans">Jeans</a></li>
                <li><a href="/WomenWestern/Jeggings">Jeggings</a></li>
                <li><a href="/WomenWestern/Palazzos">Palazzos</a></li>
                <li><a href="/WomenWestern/Shorts">Shorts</a></li>
                <li><a href="/WomenWestern/Skirts">Skirts</a></li>
            </ul>
            <ul>
                <li class="nav-head">Innerwear</li>
                <li><a href="/WomenWestern/Bra">Bra</a></li>
                <li><a href="/WomenWestern/Briefs">Briefs</a></li>
            </ul>
            <ul>
                <li class="nav-head">Sleepwear</li>
                <li><a href="/WomenWestern/Nightsuits">Nightsuits</a></li>
                <li><a href="/WomenWestern/Babydolls">Babydolls</a></li>
            </ul>
        </div>

        <div class="Men">
            <h3>Men</h3>
        </div>

        <div class="Men-details">
            <ul>
                <li class="nav-head">Top Wear</li>
                <li><a href="/Men/AllTopWear">All Top Wear</a></li>
                <li><a href="/Men/Tshirts">Tshirts</a></li>
                <li><a href="/Men/Shirts">Shirts</a></li>
            </ul>
            <ul>
                <li class="nav-head">Bottom Wear</li>
                <li><a href="/Men/TrackPants">Track Pants</a></li>
                <li><a href="/Men/Jeans">Jeans</a></li>
                <li><a href="/Men/Trousers">Trousers</a></li>
            </ul>
            <ul>
                <li class="nav-head">Men Accessories</li>
                <li><a href="/Men/AllMenAccessories">All Men Accessories</a></li>
                <li><a href="/Men/Watches">Watches</a></li>
                <li><a href="/Men/Belts">Belts</a></li>
                <li><a href="/Men/Wallets">Wallets</a></li>
                <li><a href="/Men/Jewellery">Jewellery</a></li>
                <li><a href="/Men/Sunglasses">Sunglasses</a></li>
                <li><a href="/Men/Bags">Bags</a></li>
            </ul>
            <ul>
                <li class="nav-head">Men Footwear</li>
                <li><a href="/Men/CasualShoes">Casual Shoes</a></li>
                <li><a href="/Men/SportsShoes">Sports Shoes</a></li>
                <li><a href="/Men/Sandals">Sandals</a></li>
                <li><a href="/Men/FormalShoes">Formal Shoes</a></li>
            </ul>
            <ul>
                <li class="nav-head">Ethnic Wear</li>
                <li><a href="/Men/MenKurtas">Men Kurtas</a></li>
                <li><a href="/Men/EthnicJackets">Ethnic Jackets</a></li>
            </ul>
            <ul>
                <li class="nav-head">Inner & Sleep Wear</li>
                <li><a href="/Men/AllInnerSleepWear">All Inner & Sleep Wear</a></li>
                <li><a href="/Men/Vests">Vests</a></li>
            </ul>
        </div>

        <div class="Kids">
            <h3>Kids</h3>
        </div>

        <div class="Kids-details">
            <ul>
                <li class="nav-head">Boys & Girls 2+ Years</li>
                <li><a href="/Kids/Dresses">Dresses</a></li>
            </ul>
            <ul>
                <li class="nav-head">Infant 0-2 Years</li>
                <li><a href="/Kids/Rompers">Rompers</a></li>
            </ul>
            <ul>
                <li class="nav-head">Toys & Accessories</li>
                <li><a href="/Kids/SoftToys">Soft Toys</a></li>
                <li><a href="/Kids/Footwear">Footwear</a></li>
                <li><a href="/Kids/Stationery">Stationery</a></li>
                <li><a href="/Kids/Watches">Watches</a></li>
                <li><a href="/Kids/BagsBackpacks">Bags & Backpacks</a></li>
            </ul>
            <ul>
                <li class="nav-head">Baby Care</li>
                <li><a href="/Kids/AllBabyCare">All Baby Care</a></li>
            </ul>
        </div>

        <div class="Home-Kitchen">
            <h3>Home & Kitchen</h3>
        </div>

        <div class="Home-Kitchen-details">
            <ul>
                <li class="nav-head">Home Furnishing</li>
                <li><a href="/HomeKitchen/Bedsheets">Bedsheets</a></li>
                <li><a href="/HomeKitchen/Doormats">Doormats</a></li>
                <li><a href="/HomeKitchen/CurtainsSheers">Curtains & Sheers</a></li>
                <li><a href="/HomeKitchen/CushionsCushionCovers">Cushions & Cushion Covers</a></li>
                <li><a href="/HomeKitchen/MattressProtectors">Mattress Protectors</a></li>
            </ul>
            <ul>
                <li class="nav-head">Home Decor</li>
                <li><a href="/HomeKitchen/AllHomeDecor">All Home Decor</a></li>
                <li><a href="/HomeKitchen/Stickers">Stickers</a></li>
                <li><a href="/HomeKitchen/Clocks">Clocks</a></li>
                <li><a href="/HomeKitchen/Showpieces">Showpieces</a></li>
            </ul>
            <ul>
                <li class="nav-head">Kitchen & Dining</li>
                <li><a href="/HomeKitchen/KitchenStorage">Kitchen Storage</a></li>
                <li><a href="/HomeKitchen/CookwareBakeware">Cookware & Bakeware</a></li>
            </ul>
        </div>

        <div class="Beauty-Health">
            <h3>Beauty & Health</h3>
        </div>

        <div class="Beauty-Health-details">
            <ul>
                <li class="nav-head">Make up</li>
                <li><a href="/BeautyHealth/Face">Face</a></li>
                <li><a href="/BeautyHealth/Eyes">Eyes</a></li>
                <li><a href="/BeautyHealth/Lips">Lips</a></li>
                <li><a href="/BeautyHealth/Nails">Nails</a></li>
            </ul>
            <ul>
                <li class="nav-head">Wellness</li>
                <li><a href="/BeautyHealth/Sanitizers">Sanitizers</a></li>
                <li><a href="/BeautyHealth/OralCare">Oral Care</a></li>
                <li><a href="/BeautyHealth/FeminineHygiene">Feminine Hygiene</a></li>
            </ul>
            <ul>
                <li class="nav-head">Skincare</li>
                <li><a href="/BeautyHealth/Deodorants">Deodorants</a></li>
            </ul>
        </div>

        <div class="Jewellery-Accessories">
            <h3>Jewellery & Accessories</h3>
        </div>

        <div class="Jewellery-Accessories-details">
            <ul>
                <li class="nav-head">Jewellery</li>
                <li><a href="/JewelleryAccessories/JewellerySet">Jewellery Set</a></li>
                <li><a href="/JewelleryAccessories/Earrings">Earrings</a></li>
                <li><a href="/JewelleryAccessories/Mangalsutras">Mangalsutras</a></li>
                <li><a href="/JewelleryAccessories/Studs">Studs</a></li>
                <li><a href="/JewelleryAccessories/Bangles">Bangles</a></li>
                <li><a href="/JewelleryAccessories/Necklaces">Necklaces</a></li>
                <li><a href="/JewelleryAccessories/Rings">Rings</a></li>
                <li><a href="/JewelleryAccessories/Anklets">Anklets</a></li>
            </ul>
            <ul>
                <li class="nav-head">Women Accessory</li>
                <li><a href="/JewelleryAccessories/Bags">Bags</a></li>
                <li><a href="/JewelleryAccessories/Watches">Watches</a></li>
                <li><a href="/JewelleryAccessories/HairAccessories">Hair Accessories</a></li>
                <li><a href="/JewelleryAccessories/Sunglasses">Sunglasses</a></li>
                <li><a href="/JewelleryAccessories/Socks">Socks</a></li>
            </ul>
        </div>

        <div class="Bags-Footwere">
            <h3>Bags & Footwere</h3>
        </div>

        <div class="Bags-Footwere-details">
            <ul>
                <li class="nav-head">Women Bags</li>
                <li><a href="/BagsFootwere/AllWomenBags">All Women Bags</a></li>
                <li><a href="/BagsFootwere/Handbags">Handbags</a></li>
                <li><a href="/BagsFootwere/Clutches">Clutches</a></li>
                <li><a href="/BagsFootwere/Slingbags">Slingbags</a></li>
            </ul>
            <ul>
                <li class="nav-head">Men Bags</li>
                <li><a href="/BagsFootwere/AllMenBags">All Men Bags</a></li>
                <li><a href="/BagsFootwere/MenWallets">Men Wallets</a></li>
            </ul>
            <ul>
                <li class="nav-head">Men Footwear</li>
                <li><a href="/BagsFootwere/SportsShoes">Sports Shoes</a></li>
                <li><a href="/BagsFootwere/CasualShoes">Casual Shoes</a></li>
                <li><a href="/BagsFootwere/FormalShoes">Formal Shoes</a></li>
                <li><a href="/BagsFootwere/Sandals">Sandals</a></li>
            </ul>
            <ul>
                <li class="nav-head">Women Footwear</li>
                <li><a href="/BagsFootwere/Flats">Flats</a></li>
                <li><a href="/BagsFootwere/Bellies">Bellies</a></li>
                <li><a href="/BagsFootwere/Juttis">Juttis</a></li>
            </ul>
        </div>

        <div class="Electronics">
            <h3>Electronics</h3>
        </div>

        <div class="Electronics-details">
            <ul>
                <li class="nav-head">Mobile & Accessories</li>
                <li><a href="/Electronics/AllMobileAccessories">All Mobile & Accessories</a></li>
                <li><a href="/Electronics/Smartwatches">Smartwatches</a></li>
                <li><a href="/Electronics/MobileHolders">Mobile Holders</a></li>
                <li><a href="/Electronics/Mobilecasesandcovers">Mobile cases and covers</a></li>
            </ul>
            <ul>
                <li class="nav-head">Appliances</li>
                <li><a href="/Electronics/AllAppliances">All Appliances</a></li>
                <li><a href="/Electronics/Grooming">Grooming</a></li>
                <li><a href="/Electronics/HomeAppliances">Home Appliances</a></li>
            </ul>
        </div>

    </div>
</div>

<script src="/javascripts/nav.js"></script>