<link rel="stylesheet" href="/stylesheets/pagesfooter.css">



<div class="links-footer">
    <h2 class="purple">Online Shopping</h2>
    <h4 class="gray">Mega Blockbuster Sale | Shop Now</h4>
    <h4 class="purple">Mega Blockbuster Sale</h4>
    <h4 class="gray">Home & Living</h4>
    <h4 class="purple">Curtains & Sheers | Round Cushions | Sofa Covers | Cotton Bedsheets | Bedding Sets | Pillow Covers | Decorative Items | Duvet Covers | Blankets | Home Temple | Yoga mats | Bean Bags | Single Bed Sheet | Cushions | Face Towels | Cotton Towel | Trays | Coasters</h4>
    <h4 class="gray">Men Ethnicwear</h4>
    <h4 class="purple">Men Dhoti Kurtas | Men Indo Western Dresses | Men Velvet Sherwanis | Men Dhotis</h4>
    <h4 class="gray">Women Western Wear</h4>
    <h4 class="purple">Women Frocks | Long Tops Women | Tshirt Dresses | Designer Gown | Pencil Skirts | Women Trousers | Flared Jeans | Women Sweatshirts | Shrugs | Capris | Jacket Dresses | Fancy Ladies Sweater | Chikankari Palazzos | Ankle Length Leggings | Tights | Printed Leggings | Kaftans | Maternity Wear | Denim Women Shorts | Black Jeggings | Short Night Dress | Women Night Suits | Lace Lingerie Sets | Lingerie Sets | Push Up Bra | Stockings | Black Camisoles | Cotton Bathrobes | Satin Night Suit | Body shapers | Women Pyjamas | Swimwear | Women Jackets | Women Thermal Set</h4>
    <h4 class="gray">Women Ethnicwear</h4>
    <h4 class="purple">Silk Saree | Puff Sleeve Blouses | Chikankari Kurtis | Designer Lehenga | Sharara | Phulkari Dupatta | Petticoats | Abaya | Black Kurta | Velvet Shawls | Blouse Piece | Kurti Fabric | Designer Suits
    </h4>
    <h4 class="gray">Women Footwear</h4>
    <h4 class="purple">Women Slippers | Bellies | Juttis & Mojaris</h4>
    <h4 class="gray">Women Accessories</h4>
    <h4 class="purple">Hoop Earrings | Stud Earrings Women | Oxidised Ring | Handbags | Umbrellas | Cateye Sunglasses | Jewellery Set | Slingbags | Trolley Bags | Hijabs | Ankle Socks Women | Clutches | Hair Accessories | Maangtika | Pouches | Duffle Bags | Pashmina Shawls | Bindis | Waist Bags | Rucksacks | Briefcases | Small Travel Bags | Potlis | Nosepins | Gold Bangles | Bridal Anklets | Chandbali Earrings | Necklaces | Multi Necklace</h4>
    <h4 class="gray">Electronics & Accessories</h4>
    <h4 class="purple">Android Smart Watches | On Ear Headphones | Bluetooth Speakers | Bluetooth Earphones | Sport Headphones | CCTV Cameras | Spy Cameras | Keyboard | Laptop Bags | Mouse | Laptop Accessories | Pen Drives | Earphones | Fast Charging Power Banks | Headphones | Data Cables | Car Mobile Holders | Car Mobile Holders | Mobile Chargers | Speakers | Diwali Lightings | Microphone | Memory Cards | Digital Photo Frames | Dongle | VR Box</h4>
    <h4 class="gray">Men Western Wear</h4>
    <h4 class="purple">Cotton Shorts Men | Denim Jeans Men | Formal Trousers Men | Men Active Shorts | Sport Jackets Men | Printed Tshirts | Formal Shirts Men | Sleeveless Sweatshirts Men | Leather Jackets Men | Grey Blazers | Men Sweaters | Sport Tracksuits Men | Vests | Printed Briefs Men | Men Trunks | Wool Jackets Men</h4>
    <h4 class="gray">Men Footwear</h4>
    <h4 class="purple">Reebok Sports Shoes Men | Men Sandals | Leather Loafers Men</h4>
    <h4 class="gray">Men Accessories</h4>
    <h4 class="purple">Leather Watches Men | Gold Jewellery Men | Hair Spray For Men | Men Keychains | Men Socks | Men Scarves | Men Wrist Bands | Men Crossbody Bags | Men Shirt Studs</h4>    
    <h4 class="gray">Kids</h4>
    <h4 class="purple">Kids Lunch Boxes | Kids Ethnic Jackets | Kids Blazers | Rompers | Kids Kurtis & Kurtas | Kids Salwar Suit Sets | Kids Ethnic Gowns | Tshirts Boys | Girls Stylish Tops</h4>    
    <h4 class="gray">Baby</h4>
    <h4 class="purple">Baby Pillows | Baby Towels | Baby Hanging Cradle | Baby Sleeping Bag | Baby Blanket</h4>
    <h4 class="gray">Home & Kitchen</h4>
    <h4 class="purple">Toaster | Mixer Grinder | Cookers | Juicer | Food Processors | Roti Maker | Sandwich Maker | Kettles | Hand Blender | Table Cover | Napkins Holder | Kitchen Mat | Kitchen Towel | Aprons | Kitchen Gloves | Racks & Holders | Spice Racks | Jars & Container | Water Bottles | Thermos & Flasks | Lunch Boxes | Salt & Pepper Shakers | Knives | Food Strainers | Choppers | Mashers | Graters | Cutlery | Chopping Boards | Kitchen Scissors | Ice Cube Trays | Measuring Cups | Tongs | Ice Cream Scoops | Funnels | Trivets</h4>
    <h4 class="gray">Personal Care & Wellness</h4>
    <h4 class="purple">Tummy trimmer | Makeup Kits | Hair Color | Hair Steamers | Hair Care | Oral Care | Beard Oil | Deodorants | Eye Lenses | Soap | Oximeter | Bb Cream | Body Scrub | Olive Oils | Talcum Powder | Face Steamers | Compact | Nail Cutter | Lip Balm
    </h4>

</div>


<div class="footer">
    <div class="footer-box">
        <div class="box1 box">
            <h1>Shop Non-Stop on Meesho</h1>
            <h2>Trusted by more than 1 Crore Indians
                Cash on Delivery | Free Delivery</h2>
                <div class="downloadapp">
                    <img src="https://images.meesho.com/images/pow/playstore-icon-big_400.webp" alt="">
                    <img src="https://images.meesho.com/images/pow/appstore-icon-big_400.webp" alt="">
                </div>
        </div>
        <div class="box2 box">
            <ul>
                <li>Careers</li>
                <li>Become a supplier</li>
                <li>Hall of Fame</li>
                <li>Sitemap</li>
            </ul>
        </div>
        <div class="box3 box">
            <ul>
                <li>Legal and Policies</li>
                <li>Meesho Tech Blog</li>
                <li>Notices and Returns</li>
            </ul>
        </div>
        <div class="box4 box">
            <h2>Reach out to us</h2>
            <div class="socal">
                <img src="https://images.meesho.com/images/pow/facebook.png" alt="">
                <img src="https://images.meesho.com/images/pow/instagram.png" alt="">
                <img src="https://images.meesho.com/images/pow/youtube.png" alt="">
                <img src="https://images.meesho.com/images/pow/linkedin.png" alt="">
                <img src="https://images.meesho.com/images/pow/twitter.png" alt="">
            </div>
        </div>
        <div class="box5 box">
            <h3>Contact Us</h3>
            <p>Fashnear Technologies Private Limited, 
                CIN: U74900KA2015PTC082263 
                06-105-B, 06-102, (138 Wu) Vaishnavi Signature, No. 78/9, Outer Ring Road, Bellandur, Varthur Hobli, Bengaluru-560103, Karnataka, India
                E-mail address: query@meesho.com
                © 2015-2023 Meesho.com</p>
        </div>
    </div>
</div>