<link rel="stylesheet" href="/stylesheets/pagesfooter.css">


<div class="footer">
    <div class="footer-box">
        <div class="box1 box">
            <h1>Shop Non-Stop on Meesho</h1>
            <h2>Trusted by more than 1 Crore Indians
                Cash on Delivery | Free Delivery</h2>
                <div class="downloadapp">
                    <img src="https://images.meesho.com/images/pow/playstore-icon-big_400.webp" alt="">
                    <img src="https://images.meesho.com/images/pow/appstore-icon-big_400.webp" alt="">
                </div>
        </div>
        <div class="box2 box">
            <ul>
                <li>Careers</li>
                <li>Become a supplier</li>
                <li>Hall of Fame</li>
                <li>Sitemap</li>
            </ul>
        </div>
        <div class="box3 box">
            <ul>
                <li>Legal and Policies</li>
                <li>Meesho Tech Blog</li>
                <li>Notices and Returns</li>
            </ul>
        </div>
        <div class="box4 box">
            <h2>Reach out to us</h2>
            <div class="socal">
                <img src="https://images.meesho.com/images/pow/facebook.png" alt="">
                <img src="https://images.meesho.com/images/pow/instagram.png" alt="">
                <img src="https://images.meesho.com/images/pow/youtube.png" alt="">
                <img src="https://images.meesho.com/images/pow/linkedin.png" alt="">
                <img src="https://images.meesho.com/images/pow/twitter.png" alt="">
            </div>
        </div>
        <div class="box5 box">
            <h3>Contact Us</h3>
            <p>Fashnear Technologies Private Limited, 
                CIN: U74900KA2015PTC082263 
                06-105-B, 06-102, (138 Wu) Vaishnavi Signature, No. 78/9, Outer Ring Road, Bellandur, Varthur Hobli, Bengaluru-560103, Karnataka, India
                E-mail address: query@meesho.com
                © 2015-2023 Meesho.com</p>
        </div>
    </div>
</div>