<!-- <link rel="stylesheet" href="/stylesheets/product.css"> -->

<div class="product">
    

    <div class="product-box">
        <div class="product-box-img"><img src="" alt=""></div>
        <h3>product name </h3>
        <h2>₹ <> <span>onwards</span></h2>
        <h5> <> delevery charges</h5>
        <h5> <span> <> ⭐ </span> reviews</h5>
    </div>

</div>